include CHANGELOG LICENSE README
include etc/*
include etc/logrotate/*
include etc/sysconfig/*
include etc/configs/oasis/*
include etc/configs/oasis-replica/*
include etc/configs/oasis-login/*
include libexec/*
include bin/*
include sbin/*
include misc/*
include src/*
#recursive-include oasispackage *.py *.pyc *.pyo
